<%- include('navbar') %>

<h1><%= title %></h1>

<% for (let location of locations) { %>
<!-- Get ingredients for the location -->
<% let ingredients = foods.filter((f) => {return f.locationId == location.id});
%>
<!-- Add Header -->
<% if (ingredients.length > 0) { %>
<h3><%= location.name %></h3>
<!-- Add Ingredients -->
<ul>
  <% for (let ingredient of ingredients) { %>
  <li>
    <%= `${ingredient.name}: ` + `${ingredient.quantity}` + `
    ${ingredient.measure.name}` %>
  </li>
  <% } %>
</ul>
<% } %> <% } %>

<!-- Include footer -->
<%- include('footer') %>
