<%- include('navbar') %>

<h1><%= title %></h1>

<ol>
  <% for (let recipe of dependency.recipes) { %>
  <li>
    <%= recipe.name %>
    <a href="/recipe/edit/<%= recipe.id %>"><button>Edit</button></a>
  </li>
  <br />
  <% } %>
</ol>

<%- include('footer') %>
