<%- include('navbar') %>

<ul>
  <% for (let error of dependency.errors) { %>
  <li><%= error.msg %></li>
  <% } %>
</ul>

<form action="<%= dependency.url %>" method="POST">
  <h1><%= title %></h1>
  <% if (title != "Edit Grocery List") { %>
  <label for="name">Name: </label>
  <input
    type="text"
    id="name"
    name="name"
    value="<%= dependency.hasOwnProperty('recipe') ? dependency.recipe.name : '' %>"
    required
  />
  <% } %>
  <div id="ingredientInput">
    <% let index = 0; %> <% for (let ingredient of dependency.ingredients) { %>
    <div id="<%=index%>">
      <select name="<%=index%>" required>
        <% for (let food of dependency.foods) { %> <% if (food.id ==
        ingredient.foodId) { %>
        <option value="<%= food.name %>" selected><%= food.name %></option>
        <% } else { %>
        <option value="<%= food.name %>"><%= food.name %></option>
        <% } %><% } %>
      </select>
      <input
        type="number"
        name="<%=index%>"
        value="<%= ingredient.quantity %>"
      />
      <select name="<%=index%>" required>
        <% for (let measure of dependency.measures) { %> <% if (measure.id ==
        ingredient.measureId) { %>
        <option value="<%= measure.name %>" selected>
          <%= measure.name %>
        </option>
        <% } else { %>
        <option value="<%= measure.name %>"><%= measure.name %></option>
        <% } %><% } %>
      </select>
      <button class="delete">Delete Ingredient</button>
    </div>
    <% index++ %> <% } %>
  </div>
  <button id="addIngredient">Add Ingredient</button>
  <button id="submit">Submit</button>
</form>

<% if (title == "Edit Recipe") { %>
<form action="/recipe/delete/<%= dependency.recipe.id %>" method="POST">
  <button id="delete">Delete</button>
</form>
<% } %>

<script>
  const ingredientInput = document.getElementById("ingredientInput");
  const addIngredient = document.getElementById("addIngredient");
  let index = 0;
  let foods = <%- JSON.stringify(dependency.foods) %>;
  let measures = <%- JSON.stringify(dependency.measures) %>;
  let ingredients = <%- JSON.stringify(dependency.ingredients) %>;
  if (ingredients.length > 0) {index = ingredients.length};

  addIngredient.addEventListener("click", (e) => {
    e.preventDefault();
    let div = document.createElement("div");
    div.id = `${index}`;
    div.classList.add("ingredient");
    ingredientInput.appendChild(div);
    let select = document.createElement("select");
    select.setAttribute("required", "required");
    select.setAttribute("name", `${index}`);
    div.appendChild(select);
    let defaultOpt = document.createElement("option");
    defaultOpt.textContent = "Choose One";
    defaultOpt.setAttribute("selected", "selected");
    defaultOpt.setAttribute("disabled", "disabled");
    defaultOpt.setAttribute("hidden", "hidden");
    defaultOpt.setAttribute("value", "");
    select.appendChild(defaultOpt);
    for (let food of foods) {
      let opt = document.createElement("option");
      opt.value = food.name;
      opt.textContent = food.name;
      select.appendChild(opt);
    }
    let input = document.createElement("Input");
    input.type = "number";
    input.setAttribute("required", "required");
    input.setAttribute("name", `${index}`);
    div.appendChild(input);

    let measureSelect = document.createElement("select");
    measureSelect.setAttribute("required", "required");
    measureSelect.setAttribute("name", `${index}`);
    div.appendChild(measureSelect);
    let defaultOption = document.createElement("option");
    defaultOption.textContent = "Choose One";
    defaultOption.setAttribute("selected", "selected");
    defaultOption.setAttribute("disabled", "disabled");
    defaultOption.setAttribute("hidden", "hidden");
    defaultOption.setAttribute("value", "");
    measureSelect.appendChild(defaultOption);
    for (let measure of measures) {
      let opt = document.createElement("option");
      opt.value = measure.name;
      opt.textContent = measure.name;
      measureSelect.appendChild(opt);
    }

    let deleteButton = document.createElement("button");
    deleteButton.innerText = 'Delete Ingredient';
    deleteButton.classList.add('delete');
    div.appendChild(deleteButton);

    let deleteButtons = document.querySelectorAll("button.delete");
    deleteButtons.forEach((b) => {
    b.addEventListener("click", (e) => {
      e.preventDefault();
      b.parentElement.remove();
    });
  });

    index++;
  });
</script>

<script>
  let deleteButton = document.querySelectorAll("button.delete");
  deleteButton.forEach((b) => {
    b.addEventListener("click", (e) => {
      e.preventDefault();
      b.parentElement.remove();
    });
  });
</script>

<%- include('footer') %>
